include setup.py package.json webpack.config.js README.rst MANIFEST.in LICENSE AUTHORS
recursive-include sentry_auth_saml2/auth0/templates/sentry_auth_auth0 *
recursive-include sentry_auth_saml2/generic/templates/sentry_auth_saml2 *
recursive-include sentry_auth_saml2/okta/templates/sentry_auth_okta *
recursive-include sentry_auth_saml2/onelogin/templates/sentry_auth_onelogin *
recursive-include sentry_auth_saml2/rippling/templates/sentry_auth_rippling *
global-exclude *~
