{% extends "sentry/bases/modal.html" %}
{% load sentry_assets %}
{% load i18n %}

{% block wrapperclass %}narrow auth{% endblock %}
{% block modal_header_signout %}{% endblock %}

{% block title %}{% trans "Register Identity Provider" %} | {{ block.super }}{% endblock %}

{% block main %}
<h3>Register Identity Provider</h3>

<ul class="nav nav-tabs auth-toggle border-bottom">
  <li {% if op == "url" %} class="active"{% endif %}>
    <a href="#metadata-url" data-toggle="tab">Metadata URL</a>
  </li>
  <li {% if op == "xml" %} class="active"{% endif %}>
    <a href="#xml" data-toggle="tab">XML</a>
  </li>
  <li {% if op == "idp" %} class="active"{% endif %}>
    <a href="#idp-data" data-toggle="tab">IdP Data</a>
  </li>
</ul>

<form action="" method="post" class="form-stacked">
  {% csrf_token %}

  {% if plugin %}
      <input type="hidden" name="plugin" value="{{ plugin.slug }}" />
  {% endif %}

  <div class="tab-content">
    <div class="tab-pane {% if op == "url" %}active{% endif %}" id="metadata-url">
      <p>Provide a Metadata URL to retrieve the IdP details.</p>

      {% if error_url %}
        <div class="alert alert-block alert-error">
          There was an error while requesting the metadata.
        </div>
      {% endif %}

      <label for="idp_metadata_url" label="control-label requiredField">
        Metadata URL<span class="asteriskField">*</span>
      </label>
      <input
        class="textinput textInput form-control"
        id="idp_metadata_url"
        name="idp_metadata_url"
        type="url"
        value="{{ url }}" />

      <fieldset class="form-actions">
        <button
          type="submit"
          class="btn btn-primary"
          name="action_get_metadata">{% trans "Get metadata" %}</button>
      </fieldset>
    </div>

    <div class="tab-pane {% if op == "xml" %}active{% endif %}" id="xml">
      <p>Provide the raw Metadata XML IdP details.</p>

      {% if error_xml %}
        <div class="alert alert-block alert-error">
          There was an error while parsing the metadata XML.
        </div>
      {% endif %}

      <label for="idp_metadata_url" label="control-label requiredField">
        Metadata XML<span class="asteriskField">*</span>
      </label>
      <textarea
        class="textarea form-control"
        cols="40"
        rows="10"
        id="idp_metadata_xml"
        name="idp_metadata_xml"
        value="{{ xml }}"></textarea>

      <fieldset class="form-actions">
        <button
          type="submit"
          class="btn btn-primary"
          name="action_parse_metadata">{% trans "Parse Metadata" %}</button>
      </fieldset>
    </div>

    <div class="tab-pane {% if op == "idp" %}active{% endif %}" id="idp-data">
      <p>
        Provide your individual Identity Provider metadata fields.
      </p>

      {% include "sentry/partial/form_base.html" %}

      <fieldset class="form-actions">
        <button
          type="submit"
          class="btn btn-primary"
          name="action_save">{% trans "Parse Metadata" %}</button>
      </fieldset>
    </div>
  </div>
</form>

{% endblock %}
